* {
    box-sizing: border-box;
}
.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    background-image: url("img/header_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin-bottom: 99px;
}
.header-title {
    margin-top: 573px;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-left: 225px;
}
.header-subtitle {
    margin-top: 16px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin-bottom: 24px;
    color: white;
    margin-left: 225px;
}
.header-slogan {
    width: 837px;
    height: 131px;
    font-family: Montserrat, sans-serif;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 36px 30px 31px 30px;
    border: 2px solid white;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    color: white;
    margin-left: 225px;
}
.header-slogan__start {
    color: #F48E0B;
    border-right: 4px solid rgb(255, 157, 21);
    padding-right: 23px;
    margin-right: 23px;
    padding-bottom: 31px;
    padding-top: 30px;
}
.slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-bottom: 48px;
}
.slogan::after {
    content: "";
    height: 3px;
    width: 60px;
    background: #F48E0B;
    position: absolute;
    right: 48%;
    bottom: 0;
}
.slogan-no-line {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-bottom: 48px;
}
.slogan-title {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.slogan-text {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 28px;
}
.image {
    width: 281px;
    height: 241px;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 57px;
}
.nav-container {
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    border-bottom: 3px solid #F1B128;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 1169px;
    justify-self: center;
}
.nav-logo {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F1B128;
    align-self: center;
}
.nav-list {
    display: flex;
}
.nav-item {
    padding: 35px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}
.nav-item:hover {
    color: #F1B128;
    cursor: pointer;
}
.content1-container {
    display: flex;
    justify-content: center;
}
.content1 {
    display: flex;
    width: 1169px;
    margin-top: 100px;
}
.content1-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.content1-image {
    position: relative;
}
.content1-image-name {
    position: absolute;
    padding: 14px 18px 14px 14px;
    z-index: 5;
    left: 13px;
    bottom: 15px;
    color: white;
    background: #333333;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;


}
.content1-text {
    margin-left: 29px;
}
.content1-text-title {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.content1-text-title-span {
    color: #F1AD1D;
}
.content1-text-article {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 22px;
    line-height: 22px;
}
.content1-text-btn {
    width: 176px;
    height: 49px;
    background: #F1AD1D;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 3px solid #F1AD1D;
}
.content1-text-btn:hover {
    background: #FFFF;
    color: #F1AD1D;
}
.content2-background {
    margin-top: 124px;
    width: 100%;
    height: 380px;
    background-image: url("img/speedometr.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 113px;
}
.content2-slogan {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
}
.content2-slogan-span {
    color: #F1AD1D;
}
.content2-slogan::after {
    content: "";
    height: 3px;
    width: 60px;
    background: #F48E0B;
    position: absolute;
    right: 48%;
    top: 60px;
}
.content2-images-container {
    display: flex;
    justify-content: center;
}
.content2-images {
    margin-top: 53px;
    margin-bottom: 202px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.content2-image {
    position: relative;
    padding: 2px;
}
.content2-image-name {
    position: absolute;
    padding: 14px 18px 14px 14px;
    z-index: 5;
    left: 13px;
    bottom: 15px;
    color: white;
    background: #333333;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.content2-image-span {
    color: #F1AD1D;
}
.features-container {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1169px;
}

.feature-item {
    width: 271px;
}
.feature-item-name {
    height: 56px;
    width: 271px;
    background: #333333;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}
.feature-item-span {
    color: #F1AD1D;
}
.feature-item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
}